

.card {
  align-content: center;
  transition: all 0.5s ease-in-out;
}
.card:hover .face.face-1 .content {
  opacity: 1;
  color: #1c1919;
}
.card:hover .face.face-1 {
  background: #dedede;
  transform: translateY(0);
}
.card:hover .face.face-2 {
  transform: translateY(0);
}

.face {
  transform: translate(0, -50%);
  height: 300px;
  width: 300px;
  transition: all 0.5s ease-in-out;
}

.face-1 {
  position: relative;
  background: #333;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 3;
  transform: translateY(150px);
  transition: all 0.5s ease-in-out;
}
.face-1 .content {
  opacity: 0.4;
  transition: all 0.5s ease-in-out;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.face-2 {
  position: relative;
  background: #dedede;
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-150px);
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.face-2 .content {
  color: #1c1919;
  text-align: center;
  font-style: "Roboto";
  font-weight: 600;
}
