@media only screen and (max-width: 769px) {
    .title-header h1 {
        font-size: 20vw;
    }
    * {
        border: 1px dashed red;
        font-family: 'Montserrat', 'Roboto', sans-serif;
    }
    h6 {
        font-size: 0.8rem;
    }
    .intro-content {
        display: flex;
        flex-direction: column;
    }
    .goal-section {
        margin: 0;
        margin-bottom: 3em;
        padding: 5em 0em 1.5em;
        width: 100%;
        text-align: center;
    }
    .goal-section h1 {
        font-size: 3rem;
    }
    .step-section {
        padding: 0;
        margin: 0;
        margin-top: 2em;
        margin-bottom: 5em;
        padding-right: 10em;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .department-section h1 {
        font-size: 2rem;
    }
    .department-section h2 {
        font-size: 1.5rem;
    }
    .project-section {
        text-align: center;
    }
    section:last-child {
        text-align: center;
    }
}