* {
  line-height: 1.5;
  border: none;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

img {
  max-width: 100%;
}

/*The whole card*/
.card {
  border: none;
  background: #343232;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  font-family: "Titillium Web";
}

/*The card image*/
.card img {
  height: 300px;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

/*Image on hover*/
.card:hover img {
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
}

/*THE GRADIENT*/
li {
  background-image: linear-gradient(
    to right,
    #7b7b7b,
    #ec4eb7,
    #ee23aa,
    #7b7b7b
  );
  background-size: 300% 100%;
  transition: all 0.5s ease-in-out;
}

/*GRADIENT ON CARD HOVER*/
.card:hover li {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
}

/*IMAGE AND GRADIENT ON CARD OVER*/
.card:hover{
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
}

/*Animations*/
@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path(
      "M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300"
    );
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path(
      "M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300 "
    );
    stroke: #888bff;
  }
  100% {
    opacity: 1;
    d: path(
      "M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"
    );
    stroke: #545581;
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
