.card {
    -ms-flex-line-pack: center;
        align-content: center;
    background: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.card:hover .face.face-1 .content {
    opacity: 1;
    color: #1c1919;
}

.card:hover .face.face-1 {
    background: #dedede;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.card:hover .face.face-2 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.content img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 10%;
    width: auto;
}

.face {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 300px;
    width: 300px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.face-1 {
    position: relative;
    background: #333;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.face-1 .content {
    opacity: 0.4;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.face-2 {
    position: relative;
    background: #dedede;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.face-2 .content {
    color: #1c1919;
    text-align: center;
    font-style: "Roboto";
    font-weight: 600;
}