.perspective {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #dedede;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: -2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 1199px) {
  .prespective {
    font-size: 55px;
  }
}
.perspective-text {
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.perspective-text p {
  line-height: 50px;
  height: 50px;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.perspective-text:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.667);
          transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspective-text:nth-child(even) {
  -webkit-transform: skewY(-30deg) scaleY(1.337);
          transform: skewY(-30deg) scaleY(1.337);
}
.perspective-text:nth-child(1) {
  left: 29px;
}
.perspective-text:nth-child(2) {
  left: 58px;
}
.perspective-text:nth-child(3) {
  left: 87px;
}
.perspective-text:nth-child(4) {
  left: 116px;
}
.perspective-text:nth-child(5) {
  left: 145px;
}
.perspective:hover p {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}
